# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
env/
venv/

# Ignore local configuration files
*.env

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp

# Ignore test reports and logs
*.log
*.out
*.coverage

# Ignore Docker-related files
Dockerfile
.dockerignore