# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
wheels/
__pypackages__/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pytype
.pytype/

# Cython debug symbols
cython_debug/

# VSCode
.vscode/

# JetBrains IDEs
.idea/

# macOS
.DS_Store

# Logs
*.log

# Secrets / env files
.env
.env.*.local

test_backend.py
test_backend_2.py
test_backend_3.py
*_2.py

# Terraform State & Secrets
.terraform/
*.tfstate
*.tfstate.backup

# Ansible & SSH Secrets
*.pem
*.key
wanderwise-keyx
# DO NOT ignore wanderwise-keyx.pub (Public keys are safe to push)

# Ansible Inventory (Optional, but good if it contains hardcoded IPs)
inventory.ini